<section class="about-us-section section">
  <div class="about-us-container container">
    <div class="text-container">
      <h2 class="about-us-title"
        id="about-us">About Us</h2>

      <p class="about-us-text-first-paragraph">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <details>
        <summary>
          <span id="open">read more</span>
          <span id="close">close</span>
        </summary>
        <p class="about-us-text-second-paragraph">
          In "Vyshyvanka Vibes" you will find various models of embroidery, from
          classic to modern, corresponding to the latest fashion trends. Our
          embroidery is made using natural fabrics and is embroidered by highly
          qualified craftsmen who convey the beauty of Ukrainian culture in every
          detail.We believe that vyshyvanka is not just clothing, but a symbol of
          national pride, the heritage of our ancestors and a way of expressing
          one's individuality. Each embroidery from "Vyshyvanka Vibes" has its own
          unique history and symbolism, which gives it a special meaning.
        </p>
      </details>
    </div>
    <div class="images-container">
      <div class="overlay-wrap">
        <picture>
          <!-- Desktop screen two -->
          <source media="(min-width: 1440px)"
            srcset="
              ./img/des-two/sleeve-des-two.jpg    1x,
              ./img/des-two/sleeve-des-two@2x.jpg 2x
            "
            type="image/jpg" />
          <!-- Desktop screen -->
          <source media="(min-width: 1280px)"
            srcset="
              ./img/des-one/sleeve-des-one.jpg    1x,
              ./img/des-one/sleeve-des-one@2x.jpg 2x
            "
            type="image/jpg" />
          <!-- Tablet screen -->
          <source media="(min-width: 768px)"
            srcset="
              ./img/tablet/sleeve-tab.jpg    1x,
              ./img/tablet/sleeve-tab@2x.jpg 2x
            "
            type="image/jpg" />
          <!-- Mobile screen -->
          <source media="(max-width: 767px)"
            srcset="
              ./img/mob/sleeve-mob.jpg    1x,
              ./img/mob/sleeve-mob@2x.jpg 2x
            "
            type="image/jpg" />
          <img class="about-us-image"
            src="./img/mob/sleeve-mob.jpg"
            alt="sleeve"
            loading="lazy" />
        </picture>
        <p class="overlay-text">
          <span>
            <svg class="icon-over"
              width="50"
              height="50">
              <use href="./img/symbol-defs.svg#icon-star"></use>
            </svg>
          </span>
          Vyshyvanka Vibes
          <span class="accent-color curs">by Genesis team</span>
        </p>
      </div>
    </div>
  </div>
</section>