<footer class="footer">
  <div class="footer__container container">
    <nav class="footer__nav">
      <ul class="footer__list">
        <li class="footer__list-item">
          <a class="footer__link link"
            href="#about-us">About us</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__link link"
            href="#our-collection">Our collection </a>
        </li>
        <li class="footer__list-item">
          <a class="footer__link link"
            href="#your-order">CUSTOMER ORDER</a>
        </li>
        <li class="footer__list-item">
          <a class="footer__link link"
            href="#testimonials">TEstimonials</a>
        </li>
      </ul>
    </nav>
    <div class="footer__text">
      A touch of <span class="accent-color">Ukrainian</span> culture in every
      embroidery
    </div>
  </div>
</footer>