<header class="page-header">
    <div class="header-container">
        <nav class="header-navigation">
            <a class="home-page-logo" href="../index.html">
                <img class="home-page-logo-image" width="44" height="39" src="../img/logo.svg" alt="">
            </a>
            <ul class="navigation-list">
                <li class="navigation-list-item">about us</li>
                <li class="navigation-list-item">our collection</li>
                <li class="navigation-list-item">Customer order</li>
                <li class="navigation-list-item">testimonials</li>
            </ul>
        </nav>
        <address class="tel-navigation">
            <li class="address-item">+380 (68) 443-94-26</li>
        </address>
        <ul class="social-list">
            <li class="social-list-item">
                <a class="social-list-item-link" href="">
                    <svg class="icon-svg" width="28" height="28">
                        <use href="../img/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a class="social-list-item-link" href="">
                    <svg class="icon-svg" width="28" height="28">
                        <use href="../img/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li class="social-list-item">
                <a class="social-list-item-link" href="">
                    <svg class="icon-svg" width="28" height="28">
                        <use href="../img/symbol-defs.svg#icon-youtube"></use>
                    </svg>
                </a>
            </li>
        </ul>
        <button class="burger-menu" type="submit">
            <svg class="burger-icon" width="36" height="24">
                <use href="../img/symbol-defs.svg#icon-burger"></use>
            </svg>
        </button>
    </div>
</header>