<section class="hero">
  <div class="container">
    <div class="header-img-block">
      <div class="header-button-block">
        <h1 class="main-header">
          Reviving the traditional
          <span class="accent-color">Ukrainian</span> artistry in every stitch.
        </h1>
        <div class="button-with-arrow">
          <a href="#your-order"
            class="button-link">Order
            <svg width="26"
              height="10"
              class="icon-arrow">
              <use href="./img/symbol-defs.svg#icon-arrow"></use>
            </svg>
          </a>
        </div>
      </div>
      <img srcset="
          ./img/mob/girl-mob.jpg        335w,
          ./img/tablet/girl-tab.jpg     413w,
          ./img/des-one/girl-des.jpg    392w,
          ./img/mob/girl-mob@2x.jpg     670w,
          ./img/tablet/girl-tab@2x.jpg  826w,
          ./img/des-one/girl-des@2x.jpg 784w
        "
        sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (max-width: 767px) 335px"
        src="./img/mob/girl-mob.jpg"
        alt="girl-in-grey-blowse"
        class="girl-in-grey-blowse" />
    </div>
    <div class="absolute-positioned-img">
      <div class="star-section-with-text">
        <svg width="49"
          height="49"
          class="icon-star">
          <use href="./img/symbol-defs.svg#icon-star"></use>
        </svg>
        <p class="by-hand-text">all embroidery is made by hand</p>
      </div>
      <img srcset="./img/tablet/kraina-hero.png 2x"
        src="./img/tablet/kraina-hero.png"
        width="139"
        alt="ukraine-on-shirt"
        class="hero-img" />
    </div>
  </div>
</section>