<section class="hero">
  <div class="container">
    <div class="header-button-block">
      <h1 class="main-header">
        Reviving the traditional <span>Ukrainian</span> artistry in every
        stitch.
      </h1>
      <a href="#order" class="button-link"
        >Order
        <svg width="26" height="10" class="icon-arrow">
          <use href="../img/symbol-defs.svg#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <img
      srcset="
        ../img/mob/girl-mob.jpg            335w,
        ../img/tablet/girl-tab.jpg         413w,
        ../img/des-one/girl-des-one.jpg    392w,
        ../img/mob/girl-mob@2x.jpg         670w,
        ../img/tablet/girl-tab@2x.jpg      826w,
        ../img/des-one/girl-des-one@2x.jpg 784w
      "
      sizes="(max-width: 767px) 335px, (min-width: 768px) 413px, (min-width: 1280px) 392px"
      src="../img/mob/girl-mob.jpg"
      alt="girl-in-grey-blowse"
    />
    <div class="absolute-positioned-img">
      <div class="star-section-with-text">
        <svg width="49" height="49" class="icon-star">
          <use href="../img/symbol-defs.svg#icon-star"></use>
        </svg>
        <p class="by-hand-text">all embroidery is made by hand</p>
      </div>
      <img
        srcset="../img/tablet/img-hero-tab.jpg 2x"
        src="../img/tablet/img-hero-tab.jpg"
        width="139"
        alt="ukraine-on-shirt"
      />
    </div>
  </div>
</section>
