<div class="mob-menu">
  <div class="mob-menu-container container">
    <a class="mob-menu-link-tel link"
      href="tel:+380684439426"
      rel="noopener noreferrer">+380 (68) 443-94-26</a>
    <button class="mob-menu-close-btn"
      type="button">
      <svg class="mob-menu-close-btn-icon"
        width="36"
        height="36">
        <use href="../img/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <nav>
      <ul class="mob-menu-list">
        <li class="mob-menu-list-item list">
          <a class="link"
            href="./about-us.html">about us</a>
        </li>
        <li class="mob-menu-list-item list">
          <a class="link"
            href="./our-collection.html">our collection</a>
        </li>
        <li class="mob-menu-list-item list">
          <a class="link"
            href="./your-order.html">customer order</a>
        </li>
        <li class="mob-menu-list-item list">
          <a class="link"
            href="./testimonials.html">testimonials</a>
        </li>
      </ul>
    </nav>
  </div>
</div>