<div class="mob-menu">
  <div class="mob-menu-container container">
    <div class="mob-menu-address-wrapper">
      <address class="mob-menu-tel">
        <a class="mob-menu-tel-link link"
          href="tel:+380684439426"
          rel="noopener noreferrer">+380 (68) 443-94-26</a>
      </address>
      <button class="mob-menu-close-btn"
        type="button">
        <svg class="mob-menu-close-btn-icon">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <ul class="mob-menu-list">
      <li class="mob-menu-list-item list">
        <a class="mob-menu-list-link link"
          href="#about-us">about us</a>
      </li>
      <li class="mob-menu-list-item list">
        <a class="mob-menu-list-link link"
          href=".#our-collection">our collection</a>
      </li>
      <li class="mob-menu-list-item list">
        <a class="mob-menu-list-link link"
          href="#your-order">customer order</a>
      </li>
      <li class="mob-menu-list-item list">
        <a class="mob-menu-list-link link"
          href="#testimonials">testimonials</a>
      </li>
    </ul>
  </div>
</div>