
<section class="section section-our-collection">
        <div class="container Our-collection-wrapper">
            <h2 class="collection-title">Our collection</h2>
            <ul class="collection-list">
                <li class="collection-item">
                    <picture>
                      <!-- Desktop two screen -->
                      <source media="(min-width: 1440px)" srcset="
                      ./img/des-two/vyshivanka-one-des-two.jpg  1x,
                      ./img/des-two/vyshivanka-one-des-two@2.jpg 2x
                    " type="image/jpg" />
                        <!-- Desktop screen -->
                        <source media="(min-width: 1240px)" srcset="
                      ./img/des-one/vyshivanka-one-des-one.jpg  1x,
                      ./img/des-one/vyshivanka-one-des-one@2x.jpg 2x
                    " type="image/jpg" />
                        <!-- Tablet screen -->
                        <source media="(min-width: 768px)" srcset="
                      ./img/Tablet/vyshivanka-one-tab.jpg    1x,
                      ./img/Tablet/vyshivanka-one-tab@2x.jpg 2x
                    " type="image/jpg" />
                        <!-- Mobile screen -->
                        <source media="(max-width: 767px)" srcset="
                    ./img/mob/vyshivanka-one-mob.jpg   1x,
                    ./img/mob/vyshivanka-one-mob@2x.jpg 2x
                    " type="image/jpg" />
                        <img class="card-img position-card" src="../img/mob/vyshivanka-one-mob.jpg "
                            alt="AUGUST Poltava women's blouseRING" width="100%" height="100%" loading="lazy" />
                    </picture>
                    <div class="Our-collection-item">
                        <h3 class="product-name"> AUGUST Poltava women's blouseRING</h3>
                        <p class="price">3300 UAH</p>
                    </div>
                </li>

                <li class="collection-item">

                    <picture>
                      <!-- Desktop two screen -->
                      <source media="(min-width: 1440px)" srcset="
                      ./img/des-two/vyshivanka-two-des-two.jpg  1x,
                      ./img/des-two/vyshivanka-two-des-two@2x.jpg 2x
                    " type="image/jpg" />
                        <!-- Desktop screen -->
                        <source media="(min-width: 1240px)" srcset="
                        ./img/des-one/vyshivanka-two-des-one.jpg   1x,
                        ./img/des-one/vyshivanka-two-des-one@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Tablet screen -->
                        <source media="(min-width: 768px)" srcset="
                        ./img/Tablet/vyshivanka-two-tab.jpg    1x,
                        ./img/Tablet/vyshivanka-two-tab@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Mobile screen -->
                        <source media="(max-width: 767px)" srcset="
                        ./img/mob/vyshivanka-two-mob.jpg   1x,
                        ./img/mob/vyshivanka-two-mob@2x.jpg 2x
                      " type="image/jpg" />
                        <img class="card-img" src="../img/mob/vyshivanka-two-mob.jpg " alt="Women's blouse Gorgany"
                            width="100%" height="100%" loading="lazy" />
                    </picture>

                    <div class="Our-collection-item">
                        <h3 class="product-name"> Women's blouse Gorgany</h3>
                        <p class="price">3350 UAH</p>
                    </div>
                </li>

                <li class="collection-item">
                    <picture>
                      <!-- Desktop two screen -->
                      <source media="(min-width: 1440px)" srcset="
                      ./img/des-two/vyshivanka-three-des-two.jpg  1x,
                      ./img/des-two/vyshivanka-three-des-two@2x.jpg 2x
                    " type="image/jpg" />
                        <!-- Desktop screen -->
                        <source media="(min-width: 1240px)" srcset="
                        ./img/des-one/vyshivanka-three-des-one.jpg   1x,
                        ./img/des-one/vyshivanka-three-des-one@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Tablet screen -->
                        <source media="(min-width: 768px)" srcset="
                        ./img/Tablet/vyshivanka-three-tab.jpg    1x,
                        ./img/Tablet/vyshivanka-three-tab@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Mobile screen -->
                        <source media="(max-width: 767px)" srcset="
                        ./img/mob/vyshivanka-three-mob.jpg   1x,
                        ./img/mob/vyshivanka-three-mob@2x.jpg 2x
                      " type="image/jpg" />
                        <img class="card-img" src="../img/mob/vyshivanka-three-mob.jpg" alt="Women's blouse Crimea"
                            width="100%" height="100%" loading="lazy" />
                    </picture>
                    <div class="Our-collection-item">
                        <h3 class="product-name"> Women's blouse Crimea</h3>
                        <p class="price">4000 UAH</p>
                    </div>
                </li>

                <li class="collection-item">
                    <div class="overlay-wrapper">
                        <picture>
                          <!-- Desktop two screen -->
                      <source media="(min-width: 1440px)" srcset="
                      ./img/des-two/vyshivanka-four-des-two.jpg  1x,
                      ./img/des-two/vyshivanka-four-des-two@2x.jpg 2x
                    " type="image/jpg" />
                            <!-- Desktop screen -->
                            <source media="(min-width: 1240px)" srcset="
                            ./img/des-one/vyshivanka-four-des-one.jpg   1x,
                            ./img/des-one/vyshivanka-four-des-one@2x.jpg 2x
                      " type="image/jpg" />
                            <!-- Tablet screen -->
                            <source media="(min-width: 768px)" srcset="
                            ./img/Tablet/vyshivanka-four-tab.jpg    1x,
                            ./img/Tablet/vyshivanka-four-tab@2x.jpg 2x
                      " type="image/jpg" />
                            <!-- Mobile screen -->
                            <source media="(max-width: 767px)" srcset="
                            ./img/mob/vyshivanka-four-mob.jpg.jpg   1x,
                            ./img/mob/vyshivanka-four-mob@2x.jpg 2x
                      " type="image/jpg" />
                            <img class="card-img" src="../img/mob/vyshivanka-four-mob.jpg.jpg " alt="Men's shirt Verkhovina"
                                width="100%" height="100%" loading="lazy" />
                        </picture>
                    </div>
                    <div class="Our-collection-item">
                        <h3 class="product-name"> Men's shirt Verkhovina</h3>
                        <p class="price">3100 UAH</p>
                    </div>
                </li>

                <li class="collection-item">
                    <picture>
                      <!-- Desktop two screen -->
                      <source media="(min-width: 1440px)" srcset="
                      ./img/des-two/vyshivanka-five-des-two.jpg  1x,
                      ./img/des-two/vyshivanka-five-des-two@2x.jpg 2x
                    " type="image/jpg" />
                        <!-- Desktop screen -->
                        <source media="(min-width: 1240px)" srcset="
                        ./img/des-one/vyshivanka-five-des-one.jpg   1x,
                        ./img/des-one/vyshivanka-five-des-one@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Tablet screen -->
                        <source media="(min-width: 768px)" srcset="
                        ./img/Tablet/vyshivanka-five-tab.jpg    1x,
                        ./img/Tablet/vyshivanka-five-tab@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Mobile screen -->
                        <source media="(max-width: 767px)" srcset="
                        ./img/mob/vyshivanka-five-mob.jpeg   1x,
                        ./img/mob/vyshivanka-five-mob@2x.jpg 2x
                      " type="image/jpg" />
                        <img class="card-img" src="../img/mob/vyshivanka-five-mob.jpeg " alt="Mountain men's shirt"
                            width="100%" height="100%" loading="lazy" />
                    </picture>
                    <div class="Our-collection-item">
                        <h3 class="product-name"> Mountain men's shirt</h3>
                        <p class="price">3300 UAH</p>
                    </div>
                </li>

                <li class="collection-item">
                    <picture>
                      <!-- Desktop two screen -->
                      <source media="(min-width: 1440px)" srcset="
                      ./img/des-two/vyshivanka-six-des-two.jpg  1x,
                      ./img/des-two/vyshivanka-six-des-two@2x.jpg 2x
                    " type="image/jpg" />
                        <!-- Desktop screen -->
                        <source media="(min-width: 1240px)" srcset="
                        ./img/des-one/vyshivanka-six-des-one.jpg   1x,
                        ./img/des-one/vyshivanka-six-des-one@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Tablet screen -->
                        <source media="(min-width: 768px)" srcset="
                        ./img/Tablet/vyshivanka-six-tab.jpg    1x,
                        ./img/Tablet/vyshivanka-six-tab@2x.jpg 2x
                      " type="image/jpg" />
                        <!-- Mobile screen -->
                        <source media="(max-width: 767px)" srcset="
                        ./img/mob/vyshivanka-six-mob.jpg   1x,
                        ./img/mob/vyshivanka-six-mob@2x.jpg 2x
                      " type="image/jpg" />
                        <img class="card-img" src="../img/mob/vyshivanka-six-mob.jpg" alt="Men's shirt Yasen"
                            width="100%" height="100%" loading="lazy" />
                    </picture>
                    <div class="Our-collection-item">
                        <h3 class="product-name"> Men's shirt Yasen</h3>
                        <p class="price">3700 UAH</p>
                    </div>
                </li>
            </ul>
        </div>
</section>
