<section class="section section-our-collection">
  <div class="container Our-collection-wrapper">
    <h2 class="collection-title"
      id="our-collection">
      Our collection
    </h2>
    <ul class="collection-list">
      <li class="collection-item">
        <div class="overlay-collection">
          <picture>
            <!-- Desktop two screen -->
            <source media="(min-width: 1440px)"
              srcset="./img/des-two/vyshivanka-one-des-two.jpg  1x, ./img/des-two/vyshivanka-one-des-two@2.jpg 2x"
              type="image/jpg" />
            <!-- Desktop screen -->
            <source media="(min-width: 1240px)"
              srcset="./img/des-one/vyshivanka-one-des-one.jpg  1x, ./img/des-one/vyshivanka-one-des-one@2x.jpg 2x"
              type="image/jpg" />
            <!-- Tablet screen -->
            <source media="(min-width: 768px)"
              srcset="./img/tablet/vyshivanka-one-tab.jpg 1x,
               ./img/tablet/vyshivanka-one-tab@2x.jpg 2x"
              type="image/jpg" />
            <!-- Mobile screen -->
            <source media="(max-width: 767px)"
              srcset="./img/mob/vyshivanka-one-mob.jpg 1x,
               ./img/mob/vyshivanka-one-mob@2x.jpg 2x"
              type="image/jpg" />
            <img class="card-img position-card"
              src="./img/mob/vyshivanka-one-mob.jpg "
              alt="AUGUST Poltava women's blouseRING"
              loading="lazy"
              width="335" />
          </picture>
          <p class="overlay-collection-text">
            White-on-white openwork embroidery of Poltava Region
            In the Central and Eastern parts of Ukraine, embroidery usually consists of geometric forms and plant
            ornaments. The color range of the motifs is very delicate and very diverse as to individual details. In the
            Poltava Region, the colors
            usually include pale blue, white, light ochre, pale green and gray tones.
          </p>
        </div>
        <div class="Our-collection-item">
          <h3 class="product-name none"> AUGUST Poltava women's blousering</h3>
          <h3 class="product-name-des"> AUGUST Poltava women's blose...</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="overlay-collection">
          <picture>
            <!-- Desktop two screen -->
            <source media="(min-width: 1440px)"
              srcset="./img/des-two/vyshivanka-two-des-two.jpg  1x, ./img/des-two/vyshivanka-two-des-two@2x.jpg 2x"
              type="image/jpg" />
            <!-- Desktop screen -->
            <source media="(min-width: 1240px)"
              srcset="./img/des-one/vyshivanka-two-des-one.jpg 1x, ./img/des-one/vyshivanka-two-des-one@2x.jpg 2x"
              type="image/jpg" />
            <!-- Tablet screen -->
            <source media="(min-width: 768px)"
              srcset="./img/tablet/vyshivanka-two-tab.jpg 1x,
               ./img/tablet/vyshivanka-two-tab@2x.jpg 2x"
              type="image/jpg" />
            <!-- Mobile screen -->
            <source media="(max-width: 767px)"
              srcset="./img/mob/vyshivanka-two-mob.jpg 1x,
              ./img/mob/vyshivanka-two-mob@2x.jpg 2x"
              type="image/jpg" />
            <img class="card-img"
              src="./img/mob/vyshivanka-two-mob.jpg "
              alt="Women's blouse Gorgany"
              loading="lazy"
              width="335" />
          </picture>
          <p class="overlay-collection-text">
            The Vyshyvanka (Вишива́нка) is a traditional Ukrainian embroidered shirt. The date the Vyshyvanka was first
            made remains unknown, yet it formed gradually with the implementation of symbolic decorative patterns on the
            shirt. The
            history of Ukraine, its belief and culture are symbolised on the embroidered shirts.
          </p>
        </div>
        <div class="Our-collection-item">
          <h3 class="product-name"> Women's blouse Gorgany</h3>
          <p class="price">3350 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="overlay-collection">
          <picture>
            <!-- Desktop two screen -->
            <source media="(min-width: 1440px)"
              srcset="./img/des-two/vyshivanka-three-des-two.jpg  1x, ./img/des-two/vyshivanka-three-des-two@2x.jpg 2x
                    "
              type="image/jpg" />
            <!-- Desktop screen -->
            <source media="(min-width: 1240px)"
              srcset="./img/des-one/vyshivanka-three-des-one.jpg  1x, ./img/des-one/vyshivanka-three-des-one@2x.jpg 2x"
              type="image/jpg" />
            <!-- Tablet screen -->
            <source media="(min-width: 768px)"
              srcset="./img/tablet/vyshivanka-three-tab.jpg 1x,
               ./img/tablet/vyshivanka-three-tab@2x.jpg 2x"
              type="image/jpg" />
            <!-- Mobile screen -->
            <source media="(max-width: 767px)"
              srcset="./img/mob/vyshivanka-three-mob.jpg 1x, 
              ./img/mob/vyshivanka-three-mob@2x.jpg 2x"
              type="image/jpg" />
            <img class="card-img"
              src="./img/mob/vyshivanka-three-mob.jpg"
              alt="Women's blouse Crimea"
              loading="lazy"
              width="335" />
          </picture>
          <p class="overlay-collection-text">
            Embroidery is remembered as a national pastime and is a part of the Ukrainian cultural and national
            identity.
            Ukrainian embroidery has many variations from region to region, or even village to village. Even with these
            variation, the styles of needlework found
            throughout
            Ukraine, when taken together, represent a definite Ukrainian national style of embroidery.
          </p>
        </div>
        <div class="Our-collection-item">
          <h3 class="product-name"> Women's blouse Crimea</h3>
          <p class="price">4000 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="overlay-wrapper">
          <div class="overlay-collection">
            <picture>
              <!-- Desktop two screen -->
              <source media="(min-width: 1440px)"
                srcset="./img/des-two/vyshivanka-four-des-two.jpg  1x, ./img/des-two/vyshivanka-four-des-two@2x.jpg 2x"
                type="image/jpg" />
              <!-- Desktop screen -->
              <source media="(min-width: 1240px)"
                srcset="./img/des-one/vyshivanka-four-des-one.jpg   1x, ./img/des-one/vyshivanka-four-des-one@2x.jpg 2x"
                type="image/jpg" />
              <!-- Tablet screen -->
              <source media="(min-width: 768px)"
                srcset="./img/tablet/vyshivanka-four-tab.jpg    1x, ./img/tablet/vyshivanka-four-tab@2x.jpg 2x"
                type="image/jpg" />
              <!-- Mobile screen -->
              <source media="(max-width: 767px)"
                srcset="./img/mob/vyshivanka-four-mob.jpg 1x, 
                ./img/mob/vyshivanka-four-mob@2x.jpg 2x"
                type="image/jpg" />
              <img class="card-img"
                src="./img/mob/vyshivanka-four-mob.jpg "
                alt="Men's shirt Verkhovina"
                loading="lazy"
                width="335" />
            </picture>
            <p class="overlay-collection-text">
              In ancient times people could guess what village a person came from just from the embroidery on his or her
              clothes. Now people think about the meaning of embroidery much less. Actually, they simply want to see
              their clothes aesthetically beautiful.
            </p>
          </div>
        </div>
        <div class="Our-collection-item">
          <h3 class="product-name"> Men's shirt Verkhovina</h3>
          <p class="price">3100 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="overlay-collection">
          <picture>
            <!-- Desktop two screen -->
            <source media="(min-width: 1440px)"
              srcset="./img/des-two/vyshivanka-five-des-two.jpg  1x, ./img/des-two/vyshivanka-five-des-two@2x.jpg 2x"
              type="image/jpg" />
            <!-- Desktop screen -->
            <source media="(min-width: 1240px)"
              srcset="./img/des-one/vyshivanka-five-des-one.jpg   1x, ./img/des-one/vyshivanka-five-des-one@2x.jpg 2x"
              type="image/jpg" />
            <!-- Tablet screen -->
            <source media="(min-width: 768px)"
              srcset="./img/tablet/vyshivanka-five-tab.jpg 1x, 
              ./img/tablet/vyshivanka-five-tab@2x.jpg 2x"
              type="image/jpg" />
            <!-- Mobile screen -->
            <source media="(max-width: 767px)"
              srcset="./img/mob/vyshivanka-five-mob.jpeg 1x, 
              ./img/mob/vyshivanka-five-mob@2x.jpg 2x"
              type="image/jpg" />
            <img class="card-img"
              src="./img/mob/vyshivanka-five-mob.jpeg "
              alt="Mountain men's shirt"
              loading="lazy"
              width="335" />
          </picture>
          <p class="overlay-collection-text">
            In Western Ukraine, especially the Hutsul region, embroidery uses geometric ornament and a sharply
            contrasting palette.
            Besides the now widely used cross-stitch, there is still the ornamental needle-weaving stitch called
            “nyzynka”, which is executed predominantly on the reverse of the fabric and gives a sort of “tweed” effect.
          </p>
        </div>
        <div class="Our-collection-item">
          <h3 class="product-name"> Mountain men's shirt</h3>
          <p class="price">3300 UAH</p>
        </div>
      </li>
      <li class="collection-item">
        <div class="overlay-collection">
          <picture>
            <!-- Desktop two screen -->
            <source media="(min-width: 1440px)"
              srcset="./img/des-two/vyshivanka-six-des-two.jpg  1x, ./img/des-two/vyshivanka-six-des-two@2x.jpg 2x"
              type="image/jpg" />
            <!-- Desktop screen -->
            <source media="(min-width: 1240px)"
              srcset="./img/des-one/vyshivanka-six-des-one.jpg   1x, ./img/des-one/vyshivanka-six-des-one@2x.jpg 2x"
              type="image/jpg" />
            <!-- Tablet screen -->
            <source media="(min-width: 768px)"
              srcset="./img/tablet/vyshivanka-six-tab.jpg    1x, 
              ./img/tablet/vyshivanka-six-tab@2x.jpg 2x"
              type="image/jpg" />
            <!-- Mobile screen -->
            <source media="(max-width: 767px)"
              srcset="./img/mob/vyshivanka-six-mob.jpg 1x, 
              ./img/mob/vyshivanka-six-mob@2x.jpg 2x"
              type="image/jpg" />
            <img class="card-img"
              src="../img/mob/vyshivanka-six-mob.jpg"
              alt="Men's shirt Yasen"
              loading="lazy"
              width="335" />
          </picture>
          <p class="overlay-collection-text">
            In the northwest and north of Ukraine needlework traditions have been preserved relatively intact from the
            oldest of times. Red, as well as red-blue and red-black were the predominant color schemes in the archaic
            geometric embroideries of these northern regions of Ukraine, executed primarily in dense rows of a
            horizontal needle-weaving stitch (called “zavolikannia”) that created horizontal bands of
            patterns
            reminiscent of weaving.
          </p>
        </div>
        <div class="Our-collection-item">
          <h3 class="product-name"> Men's shirt Yasen</h3>
          <p class="price">3700 UAH</p>
        </div>
      </li>
    </ul>
  </div>
</section>