/* ABOUT US */
.about-us-section {
  border-radius: 4px;
  background-image: url(../img/ornament/ornament-about-small.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.about-us-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: var(--white, #fcf9f9);
  margin-bottom: 40px;
}

.about-us-text-first-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 20px;
}

.about-us-text-second-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 50px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .about-us-section {
    background-image: url(../img/ornament/ornament-about-small@2x.png);
  }
}

/* TABLET VERSION */
@media screen and (min-width: 768px) {
  .about-us-section {
    background-image: url(../img/ornament/ornament-about-big.png);
  }

  .about-us-container {
    display: flex;
    flex-direction: column;
  }

  .about-us-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .about-us-text-first-paragraph {
    font-size: 16px;
  }

  .about-us-text-second-paragraph {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

/* DESKTOP 1280 VERSION */
@media screen and (min-width: 1280px) {
  .about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }

  .images-container {
    display: flex;
    width: 709px;
  }

  .text-container {
    width: 481px;
    padding-top: 78px;
    padding-bottom: 79px;
  }

  .about-us-text-second-paragraph {
    margin-bottom: 0;
  }

  .about-us-title:hover,
  .about-us-title:focus {
    color: var(--yellow, #ecd979);
  }

  .about-us-section:hover {
    color: var(--yellow, #ecd979);
  }
}

/* DESKTOP 1440 VERSION */
@media screen and (min-width: 1440px) {
  .about-us-section {
    background-position: right bottom;
  }
}

/* ABOUT US */