
.about-us-section {
  border-radius: 4px;
  background-image: url(../img/ornament/ornament-about-small.png);
  background-repeat: no-repeat;
  background-position: -54% 93%;
  background-size: 459px 408px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.about-us-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 1.375;
  letter-spacing: -0.03em;
  color: var(--white, #fcf9f9);
  margin-bottom: 40px;
}

.about-us-text-first-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 20px;
}

.about-us-text-second-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 50px;
}

.overlay-text {
  visibility: hidden;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px),
screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .about-us-section {
    background-image: url(../img/ornament/ornament-about-small@2x.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px),
screen and (min-device-pixel-ratio: 2) and(min-width:768px) {
  .about-us-section {
    background-image: url(../img/ornament/ornament-about-big@2x.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
screen and (min-resolution: 2dppx) and (min-width: 1280px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1280px) {
  .about-us-section {
    background-image: url(../img/ornament/ornament-about-big@2x.png);
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
screen and (min-resolution: 2dppx) and (min-width: 1440px),
screen and (min-device-pixel-ratio: 2) and (min-width: 1440px) {
  .about-us-section {
    background-image: url(../img/ornament/ornament-about-big@2x.png);
  }
}

/* TABLET VERSION */
@media screen and (min-width: 768px) {
  .about-us-section {
    background-image: url(../img/ornament/ornament-about-big.png);
    background-size: 545px 484px;
  }

  .about-us-container {
    display: flex;
    flex-direction: column;
  }

  .about-us-title {
    font-size: 44px;
    line-height: 1.45;
  }

  .about-us-text-first-paragraph {
    font-size: 16px;
  }

  .about-us-text-second-paragraph {
    font-size: 16px;
    margin-bottom: 40px;
  }
}

/* DESKTOP 1280 VERSION */
@media screen and (min-width: 1280px) {
  .about-us-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 50px;
  }

  .images-container {
    display: flex;
    width: 709px;
  }

  .text-container {
    width: 481px;
    padding-top: 78px;
    padding-bottom: 79px;
  }

  .about-us-text-second-paragraph {
    margin-bottom: 0;
  }

  .about-us-title:hover,
  .about-us-title:focus {
    color: var(--yellow, #ecd979);
  }

  .about-us-section:hover {
    color: var(--yellow, #ecd979);
  }

  /* additionals */
  .about-us-text-second-paragraph:hover,
  .about-us-text-second-paragraph:focus {
    color: var(--yellow, #ecd979);
  }

  .about-us-text-first-paragraph:hover,
  .about-us-text-first-paragraph:focus {
    color: var(--yellow, #ecd979);
  }


  .about-us-section:hover {
    color: var(--yellow, #ecd979);
  }

  .about-us-image {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    transition-property: transform;
    transition-duration: 350ms;
  }

  .about-us-image:hover {
    transform: scale(1.1);
  }

  .overlay-wrap {
    position: relative;
    overflow: hidden;
  }

  .overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 60px;
    font-weight: 500;
    line-height: 2.5;
    letter-spacing: -0.03em;
    color: var(--white, #fcf9f9);
    padding: 100px 10px;
    background-color: #1c2225;
    text-wrap: wrap;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
    visibility: visible;
  }

  .curs {
    font-style: italic;
    font-size: 35px;
  }

  .icon-over {
    fill: #ecd979;
  }

  .images-container {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .images-container:hover .overlay-text,
  .images-container:focus .overlay-text {
    transform: translateY(0%);
  }

  .images-container:hover,
  .images-container:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }
}

/* DESKTOP 1440 VERSION */
@media screen and (min-width: 1440px) {

  .about-us-section {
    background-position: right bottom;
  }

  .about-us-container {
    width: 1240px;
  }

  .text-container {
    width: 481px;
  }

  .about-us-image {
    width: 709px;
    height: 545px;
  }
}

