



.section-our-collection {
    background-color: #1c2225;
    background-image: url("../img/ornament/ornament-collection-small.png");
    background-size: 199px 177px;
    background-repeat: no-repeat;
    background-position: top 330px left -125px;
}

.collection-title {
    color: var(--white, #fcf9f9);
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    justify-content: center;
    display: flex;
    width: 198px;
}

.price {
    color: rgba(252, 249, 249, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.7px;
}

.Our-collection-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Our-collection-item {
    padding-top: 18px;
}

.collection-list {
    display: flex;
    padding-bottom: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 40px;
    justify-content: center;
}

.collection-item {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
}

.collection-item:hover,
.collection-item:focus {
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.product-name {
    display: -webkit-box;
    width: 335px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    color: var(--white, #fcf9f9);
    text-overflow: ellipsis;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

