.section-our-collection {
    background-color: #1c2225;
    background-image: url("../img/ornament/ornament-collection-small.png");
    background-size: 199px 177px;
    background-repeat: no-repeat;
    background-position: top 280px left -125px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .section-our-collection {
        background-image: url("../img/ornament/ornament-collection-small@2x.png");
    }
}

@media screen and (min-width: 768px) {
    .section-our-collection {
        background-image: url("../img/ornament/ornament-collection-big.png");
    }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx),
screen and (min-device-pixel-ratio: 2) {
    .section-our-collection {
        background-image: url("../img/ornament/ornament-collection-big@2x.png");
    }
}

.overlay-collection-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.7em;
    padding: 20px 20px;
    border: 2px solid #1C2225;
    color: #1C2225;
    background-color: #FCF9F9;
    transition: transform 700ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 100;
    visibility: visible;
    transform: translateY(100%);
}

.collection-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
    color: #fcf9f9;
}

.overlay-collection {
    position: relative;
    overflow: hidden;
}

.price {
    color: rgba(252, 249, 249, 0.4);
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.07em;
}

.Our-collection-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.Our-collection-item {
    padding-top: 18px;
}

.collection-list {
    display: flex;
    padding-bottom: 0px;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    justify-content: center;
}

.collection-item {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
}

.card-img {
    border-radius: 4px;
}

.product-name {
    color: var(--white, #fcf9f9);
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.product-name-des {
    display: none;
}

/*----------tablet-----------*/
@media screen and (min-width: 768px) {
    .collection-list {
        flex-wrap: wrap;
        align-items: center;
    }

    .product-name {
        font-size: 18px;
    }

    .product-name.none {
        display: none;
    }

    .product-name-des {
        display: block;
        color: var(--white, #fcf9f9);
        font-size: 18px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    .price {
        font-size: 18px;
        letter-spacing: 0.05em;
    }

    .collection-item {
        flex-basis: calc((100% - 20px) / 2);
    }

    .section-our-collection {
        background-image: url("../img/ornament/ornament-collection-big.png");
        background-size: 338px 300px;
        background-position: top 270px left -223px;
    }

    .collection-title {

        width: 308px;
        font-size: 44px;
        line-height: 1.46;
        letter-spacing: 0.03em;
    }
}

/*----------desktop1280-----------*/
@media screen and (min-width: 1280px) {
    .section-our-collection {
        background-position: top 296px left -171px;
    }

    .collection-item:hover .overlay-collection-text {
        transform: translateY(0%);
    }

    .collection-item:hover {
        transform: scale(1.05);
    }

    .collection-item {
        flex-basis: calc((100% - 40px) / 3);
    }
}

/*----------desktop1440-----------*/
@media screen and (min-width: 1440px) {
    .product-name.none {
        display: block;
    }

    .product-name-des {
        display: none;
    }

    .section-our-collection {
        background-position: top 290px left -171px;
    }
}